* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif !important;
}

a {
  text-decoration: none;
}

.App {
  min-height: 100vh;
  width: 100%;
  max-width: 1900px;
  margin: 0rem auto;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background-color: #f6f6f6;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 60px !important;
  padding: 0.75rem 5rem;
  background-color: #04328f;
}

.navbar-menu-container {
  display: none;
  color: white;
}

.navbar-links-container a {
  margin-right: 2.5rem;
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-weight: 500;
}

.navbar-links-container a:hover {
  margin-right: 2.5rem;
  text-decoration: none;
  color: #f1c8c8;
  font-size: 1rem;
  font-weight: 500;
  text-transform: capitalize;
}

.navigation-tab-container {
  display: flex;
  justify-content: flex-start;
  column-gap: 15px;
  padding: 12px;
  width: 100%;
  border-radius: 7px;
  border: 1px solid #505050;
}

.navigation-tab-divider {
  padding-right: 15px;
  color: #505050;
  font-weight: 700;
  font-size: medium;
}

.navigation-tab-path {
  text-transform: capitalize;
  color: #04328f;
  font-weight: 700;
  font-size: medium;
}

.primary-button {
  padding: 0.9rem 1.75rem;
  background-color: white;
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
}

.primary-button:hover {
  background-color: rgb(234, 234, 234);
}

/* Home */
.home-container{
  display: block;
}

.home-image-container {
  height: 100%;
}

.home-banner-container {
  display: flex;
  background-color: #f1c8c8;
}

.home-text-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 3rem 5rem;
}

.primary-heading {
  font-size: clamp(1rem, 5vw, 3rem);
  color: #cb2e22;
  max-width: 500px;
}

.primary-txt1 {
  font-size: clamp(1rem, 3vw, 1.5rem);
  color: #4f4b4b;
}

.primary-txt2 {
  font-size: clamp(1rem, 3vw, 1.5rem);
  color: #cb2e22;
  margin: 2rem 0rem;
}

.secondary-button {
  padding: 0.75rem 1rem;
  background-color: #f1c8c8;
  border-color: #04328f;
  border-radius: 0.75rem;
  font-size: 1.15rem;
  cursor: pointer;
  font-weight: 700;
  color: #04328f;
  display: flex;
  align-items: center;
  justify-content: center;
}

.secondary-button svg {
  margin-left: 0.75rem;
  font-size: 1.5rem;
}

.secondary-button:hover {
  background-color: #04328f;
  color: white;
}

.menu-section-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5rem 5rem;
  background-color: white;  
}

.menu-section-text-container {
  flex: 1;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.primary-subheading {
  font-weight: 700;
  font-size: clamp(1rem, 2.5vw, 3rem);
  color: #04328f;
  max-width: 250px;
}

.dividerLine {
  border-top: 4px solid rgb(216, 51, 39);
  width: 5.5%;
  margin-bottom: 2.5rem;
}

.menu-button {
  padding: 0.75rem 1rem;
  background-color: white;
  border-color: #04328f;
  border-radius: 0.75rem;
  font-size: 1.15rem;
  cursor: pointer;
  font-weight: 700;
  color: #04328f;
  margin-top: 35px;
}

.menu-button svg {
  margin-left: 0.75rem;
  font-size: 1.5rem;
}

.menu-button:hover {
  background-color: #04328f;
  color: white;
}

.menu-button-container {
  flex: 1;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Promotion */
.promotion-section-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 5rem;
  background-color: #f1c8c8;
}

.promoDivLine {
  border-top: 4px solid rgb(216, 51, 39);
  width: 35%;
  margin-bottom: 2.5rem;
}

.promotion-list {
  display: flex;
}

.promotion-item {
  border: none;
  border-radius: 10px;
  margin: 20px;
  cursor: pointer;
  width: 250px;
  background-color: white;
}

.promotion-item:hover {
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.1);
}

.promotion-item img {
  width: 100%;
  height: max-content;
  object-fit: cover;
  border-radius: 10px;
}

.promotion-name {
  color: #04328f;
  padding: 1rem 1rem;
}

.promotion-description {
  color: #505050;
  margin-bottom: 12px;
  text-align: left;
  padding: 0rem 1rem;
  width: fit-content;
}

/* Rewiews */
.review-section-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5rem 5rem;
  background-color: #c5d9eb;
}

.review-section-text-container {
  flex: 1;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.review-section-header {
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-bottom: 2rem;
}

.review-item {
  border: none;
  border-radius: 7px;
  cursor: pointer;
  position: relative;
  width: 100%;
  background-color: white;
}

.review-item:hover {
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.1);
}

.review-item-icon-left {
  position: absolute;
  left: 20px;
  top: 20px;
  color: #ffb347;
}

.review-item-icon-right {
  position: absolute;
  right: 20px;
  bottom: 20px;
  color: #ffb347;
}

.review-item-container {
  display: flex;
  flex-direction: row;
  column-gap: 25px;
}

.review-item-text-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
  padding: 1.5rem 3rem;
}

.review-item-name {
  font-size: 1.5rem;
  font-weight: 600;
  color: #04328f;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.review-item-comment {
  font-size: 1.2rem;
  font-weight: 600;
  color: #505050;
  margin-bottom: 0.5rem;
}

/* Location */
.location-section-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5rem 5rem;
  background-color: white;
}

.location-section-text-container {
  flex: 1;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.locDivLine {
  border-top: 4px solid rgb(216, 51, 39);
  width: 65px;
  margin-bottom: 2.5rem;
}

.locations-list-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  row-gap: 40px;
  column-gap: 25px;
}

.location-container {
  border: 0.5px solid #505050;;
  border-radius: 7px;
  position: relative;
  width: 100%;
  background-color: white;
  display: flex;
  padding: 1rem 1rem;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  column-gap: 25px;
  justify-content: center;
  align-items: center;
}

.location-container:hover {
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.1);
}

.location-name {
  color: #04328f;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: large;
}

.location-address {
  color: #505050;
  text-align: left;
  width: fit-content;
  margin-bottom: 15px;
}

.location-map {
  color: #cb2e22;
  font-weight: bold;
  font-size: medium;
  text-decoration: underline;
  cursor: pointer;
}

.location-icon {
  position: relative;
  color: #cb2e22;
  padding: 10px;
  background-color: #f1c8c8;
  border-radius: 7px;
}

.location-detail {
  background-color: white;
}

.location-map-icon {
  position: relative;
  color: #cb2e22;
}


.footer-wrapper {
  display: flex;
  background-color: #04328f;
  padding: 2.5rem 5rem;
}

.footer-logo-container {
  max-width: 250px;
}

.footer-icons {
  margin-top: 2.5rem;
}

.footer-icons svg {
  font-size: 1.5rem;
  margin-right: 1.25rem;
  color: #585858;
}

.footer-section-one p{
  color: white;
  padding: 0.5rem 0rem;
  font-size: small;
  font-weight: 500;
}

.footer-section {
  flex: 1;
  display: flex;
  justify-content: start;
  padding-left: 200px;
}

.footer-section-columns {
  display: flex;
  flex-direction: column;
  min-width: 190px;
}

.footer-section-columns span {
  margin: 0.25rem 0rem;
  font-weight: 600;
  color: white;
}

.footer-section-columns p {
  color: white;
    font-size: small;
    font-weight: 500;
    cursor: pointer;
    text-decoration: underline;
    padding-bottom: 10px;
}

.footer-contact-details {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  color: white;
}

.footer-icons {
  margin-top: 1.5rem;
  text-align: center;
}

.footer-icons svg {
  font-size: 1.5rem;
  margin-right: 1.25rem;
  color: white;
}

@media (max-width: 1000px) {
  .navbar-links-container a {
    margin-right: 1rem;
    font-size: 1rem;
  }

  .primary-button {
    font-size: 1rem;
  }

  .home-bannerImage-container {
    max-width: 600px;
  }
}

@media (max-width: 800px) {
  .nav-logo-container {
    max-width: 100px;
    height: 55px;
    cursor: pointer;
  }

  .navbar-links-container {
    display: none;
  }

  .navbar-menu-container {
    display: flex;
  }

  .home-banner-container,
  .menu-section-container {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .menu-section-container {
    flex-direction: column;
  }

  .home-image-section,
  .menu-section-image-container {
    width: 100%;
    max-width: 250px;
  }

  .primary-heading {
    text-align: center;
  }

  .primary-text {
    text-align: center;
  }

  .home-text-section,
  .menu-section-text-container {
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
  }

  .secondary-button {
    font-size: 1rem;
    padding: 0.8rem 2rem;
    cursor: pointer;
  }

  .menu-section-container {
    margin-top: 5rem !important;
  }

  .menu-buttons-container {
    justify-content: center;
    flex-direction: column;
  }

  .primary-subheading {
    text-align: center;
  }

  .menu-section-image-container {
    margin-right: 0rem !important;
  }

  .footer-wrapper {
    flex-direction: column;
  }

  .footer-section-two {
    flex-direction: column;
    margin-top: 2rem;
  }

  .footer-section-columns {
    margin: 1rem 0rem;
  }

  .App {
    max-width: 95vw;
  }
}

@media (max-width: 600px) {

  .home-bannerImage-container,
  .menu-background-image-container {
    display: none;
  }
}

/* About Us */
.about-section-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5rem 5rem;
}

.about-section-text-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.about-section-image-container {
  flex: 1;
  display: flex;
  align-items: top;
  justify-content: center;
}

.about-section-image {
  max-width: 100%;
  height: 500px;
  margin-right: 50px;
}

.about-company-text {
  margin: 0;
  margin-bottom: 1.5rem;
  font-size: 2rem;
  font-weight: bold;
}

/* Order Now */
.order-section-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 5rem;
  background-color: white;
}

.order-section-text-container {
  flex: 1;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order-header-text {
  font-weight: 700;
  font-size: clamp(1rem, 2.5vw, 2rem);
  color: #04328f;
  margin-top: 50px;
}

.orderLine {
  border-top: 4px solid rgb(216, 51, 39);
  width: 65px;
}

.order-list-container {
  display: flex;
  flex-direction: row;
  column-gap: 150px;
  padding: 1rem 8rem;
  align-items: center;
}

.order-list {
  border: none;
  border-radius: 7px;
  position: relative;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order-image {
  height: fit-content;
}

.order-button {
  padding: 0.75rem 1rem;
  background-color: #04328f;
  border-radius: 0.75rem;
  font-size: 1.15rem;
  cursor: pointer;
  font-weight: 600;
  color: white;
}

.order-button svg {
  margin-left: 0.75rem;
  font-size: 1.5rem;
}

/* Outlet */
.outlet-section-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 5rem;
  background-color: white;
}

.outlet-section-text-container {
  flex: 1;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.outlet-header-text {
  font-weight: 700;
  font-size: clamp(1rem, 2.5vw, 2rem);
  color: #04328f;
  margin-top: 50px;
}

.outletLine {
  border-top: 4px solid rgb(216, 51, 39);
  width: 60px;
}

.outlet-section-text-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.outlet-section-image-container {
  flex: 1;
  display: flex;
  align-items: center;
  margin-top: 25px;
}

.outlet-section-image {
  max-width: 100%;
  justify-content: center;
}

.outlet-list-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  margin-top: 25px;
  margin-right: 75px;
  width: 100%;
}

.outlet-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.outlet-item {
  display: grid;
  grid-template-columns: auto 1fr;
  border-bottom: 1px solid #505050;
  padding-bottom: 5px;
}

.outlet-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  justify-self: start;
}

.outlet-text {
  font-size: 18px;
  font-weight: bold;
  color: #cb2e22;
  justify-self: end;
}

.purchase-button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.purchase-button:hover {
  background-color: #45a049;
}